@model GravyLiveWebApp.WebApp.Models.ProductViewModel
@{
    ViewBag.Title = "New Product Added";
}

<h2>Product Added!</h2>

<div>Your Product ID is <strong>@Model.Product_ID</strong>.</div>
<div>The Product Description is <strong>@Model.Description</strong> and the Vendor is <strong>@Model.VendorName</strong></div>

