@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Gravy Live<br />
    202 State Street<br />
    Madison, WI<br />
    <abbr title="Phone">P:</abbr>
    608.555.0100
</address>
