@{
    ViewBag.Title = "Gravy Live Web App Prototype - Home";
}

<div class="jumbotron">
    <h1>Gravy Live Web Application Prototype</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Available Functions:</h2>
        <p><a class="btn btn-default" href="/Product/NewProduct">Add a Product &raquo;</a></p>
        <p><a class="btn btn-default" href="/Show/NewShow">Create a Show &raquo;</a></p>
        <p><a class="btn btn-default" href="/Orders/Lookup">Get Order Fulfillment Data &raquo;</a></p>         
    </div>
</div>